{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["@webcomponents/scoped-custom-element-registry", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
